{% extends "template.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
<header>
  <h1>
<b>Destinations</b>
</h1>
</header>
<br>
<!-- Create a checkbox for every category-->
<div class="boxes">
  <label class="checkbox-inline">
    <input class="nav-item" type="checkbox" data-toggle="toggle" name="modern" id="checkbox"> Modern
    <label class="checkbox-inline">
      <input class="nav-item" type="checkbox" data-toggle="toggle" name="english" id="checkbox"> English Speaking
    </label>
    <label class="checkbox-inline">
      <input class="nav-item" type="checkbox" data-toggle="toggle" name="western" id="checkbox"> Western
    </label>
    <label class="checkbox-inline">
      <input class="nav-item" type="checkbox" data-toggle="toggle" name="advanced" id="checkbox"> Advanced
    </label>
    <label class="checkbox-inline">
      <input class="nav-item" type="checkbox" data-toggle="toggle" name="isolated" id="checkbox"> Isolated
    </label>
    <label class="checkbox-inline">
      <input class="nav-item" type="checkbox" data-toggle="toggle" name="coastal" id="checkbox"> Coastal
    </label>
    <input class = "search" type="text" id="type" placeholder="Search">
  </div>
<br>
<br>
<!--create an empty unnordered list to insert data into via javasript-->
  <ul id="list">
  </ul>


<script type="text/javascript">
    function LoadList(countries) {
        for (let i=0; i<countries.length;i++)
        {
          //load evry individual string from an array to the unordered list and create a link with it's name
          document.querySelector('#list').innerHTML += '<li><a href=/'+countries[i]["Country"].toLowerCase() +'>' + countries[i]["Country"] + '</a></li>';
        }
    }

    //load in data from SQL via flask using jinja
      const countries={{ countries|safe }}
      const english={{ english|safe }}
      const modern={{ modern|safe }}
      const coastal={{ coastal|safe }}
      const isolated={{ isolated|safe }}
      const western={{ western|safe }}
      const advanced={{ advanced|safe }}

      //create a global variable "gl" (Global List) to reference between functions
      var gl = []
      for(let z = 0; z<countries.length;z++)
  {
    gl.push(countries[z]["Country"])
  }

  // Show all countries by default when page is loaded
    LoadList(countries)

    // create aysnc function that compares what the user has typed to whatever 'gl' is at the moment and display the countries that match their input
    let input = document.querySelector('#type');
    input.addEventListener('input', async function() {
      let search = input.value.toString()
      // if input is empty load back whatever 'gl' is at the moment
      if (search == "")
      {
        document.querySelector('ul').innerHTML =''
        for (let m=0; m<gl.length;m++)
        {
          document.querySelector('ul').innerHTML += '<li><a href=/'+gl[0].toString().toLowerCase() +'>' + gl[m] + '</a></li>';
        }
        return
      }
      let list = []
      for (let i = 0; i<gl.length; i++)
      {
        list.push(gl[i])
      }
      let printed = []
        for (let j = 0; j<list.length;j++)
        {
          let score = 0
          let string = list[j]
          for(let m = 0; m < string.length; m++)
          {
            let char1 = search.toLowerCase()
            let char2 = string.toLowerCase()
            if (char1[m] == char2[m])
            {
              score++
              if (score == search.length)
              {
                printed.push(string)
              }
            }
          }
        }
      document.querySelector('ul').innerHTML =''
      for (let h=0; h<printed.length;h++)
        {
          document.querySelector('ul').innerHTML += '<li><a href=/'+printed[h].toLowerCase() +'>' + printed[h] + '</a></li>';
        }
    })

// create a function that update the 'ul' within the html when a checkbox is clicked
document.querySelectorAll('#checkbox').forEach(item => {
  item.addEventListener('change', async function() {
  let list = []
  let count = 0
  var checkboxes = document.querySelectorAll('#checkbox');
for(let i=0; i<checkboxes.length; i++)
{
    if(checkboxes[i].checked == true)
    {
      count++
      list.push(checkboxes[i].name);
    }
}
if (count == 0)
{
  gl = []
  document.querySelector('ul').innerHTML =''
  for(let z = 0; z<countries.length;z++)
  {
    gl.push(countries[z]["Country"])
  }
  LoadList(countries)
  return
}
if (count == 1)
{
  gl = []
  bufferA = (eval(list[0]))
  for(let z = 0; z<bufferA.length;z++)
  {
    gl.push(bufferA[z]["Country"])
  }
}
else if (count > 1){
gl = arrayCompare(list)
}
document.querySelector('ul').innerHTML =''
for (let m=0; m<gl.length;m++)
        {
          document.querySelector('ul').innerHTML += '<li><a href=/'+gl[0].toString().toLowerCase() +'>' + gl[m] + '</a></li>';
        }
})
});

// create a function that accepts a list of arrays and compares all of their contents and return the similarities between all of them
function arrayCompare(list) {
  let similarities = []
  let ary = []
  for (let num = 0; num<list.length; num++)
  {
    let para = list[num]
    ary.push(eval(para))
  }
    for(let m=0; m<ary[0].length; m++)
        {
          let counter = 0
      for (let j = 1; j < list.length; j++)
          {
            for(let k=0; k<ary[j].length; k++)
            {
            let str1 = ary[0][m]["Country"]
            let str2 = ary[j][k]["Country"]
              if (str1 === str2)
              {
              counter++
                if (counter == list.length - 1)
                {
                  similarities.push(str1)
                }
              }
            }
          }
        }
let toFindDuplicates = similarities => similarities.filter((item, index) => similarities.indexOf(item) !== index)
let duplicateElements = toFindDuplicates(similarities);
  return(similarities)
}
  </script>
  {% endblock %}